*{
    margin: 0;
    padding: 0;
}

body{
    background: black url("img/bg.jpg") no-repeat top;
    background-size: contain;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}

.clock{
    background-color: white;
    position: absolute;
    min-width: 44vw;
    min-height: 33vh;
    top: 20vh;
    right: 45vw;
    left: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time{
    margin: 2vw;
}