@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: black url("img/bg.jpg") no-repeat top;
    background-size: contain;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}

.clock{
    position: absolute;
    min-width: 44vw;
    min-height: 33vh;
    top: 20vh;
    right: 45vw;
    left: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time{
    margin: 2vw;
    color: white;
    font-family: 'Poor Story', cursive;
    font-size:8vw;

}

.btn{
    background: none;
    border-radius: 1.5vw;
    border: 2px gray solid;
    width: 8vw;
    height: 6vh;
    font-family: 'Poor Story', cursive;
    font-size: 2vw;
    color: white;
    margin: 0 0.5vw;
}

.btn:hover{
    color: aqua;
    border: 2px aqua solid;
}